/* You can add global styles to this file, and also import other style files */

html, body { height: 99%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    background-color: #e3e3e3;}


.link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


.card{
    padding: .5em;
    height: 100%;
    overflow: auto;
}

.mat-tab-label{
    font-size: 28px !important;
 } 